/* START CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Play', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width: 340px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

/* START GENERAL STYLES */

/* Light Styles */
.heading, .subheading, .subtitle, .smallSubHeading, .text{
	color: #4D4D4D;
	padding: 0.25em 0;
}
.heading{
	margin-left: -1.807769em;
	font-size: 2.5em;
}
.heading span{
	float: left;
}
.heading img{
	height: 2em;
	margin-top: -0.5em;
}
.subheading{
	font-size: 2.5em;
}
.subtitle{
	font-size: 1.65em;
	font-style: italic;
}
.smallSubHeading{
	font-size: 1.5em;
}
.text{
	font-size: 1.3em;
}
.container{
	padding: 5% 0;
	width: 80%;
	margin: auto;
	clear: both;
}
/* Dark Styles */

.darkTheme{
	color: #D6D6D6;
	border-color: #D6D6D6;
}
.darkTheme h3{
	color: #D6D6D6;
}

/* Shadows */
.shadow1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.hidden{
	display: none!important;
}
.button{
	border: 2px solid #4D4D4D;
	color: #4D4D4D;
	border-radius: calc(2em + 1%);
	padding: 0.75em 2em;
	width: fit-content;
	height: 2em;
	background-color: #00000000;
	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
	display: block;
}
.button.darkTheme{
	border: 2px solid #D6D6D6;	
}
.mt1p{
	margin-top: 1%;
}
.button.darkTheme img{
	filter: invert(1);
}
.button:hover{
	background-color: #325DC2;
	color: #EFEFEF;
	cursor: pointer;
}
.button img{
	height: 2.2em;
	width: auto;
	float: right;
}
.button h3{
	float: left;
	width: calc(80% - 0.9em);
	white-space: nowrap;
	padding-right: 1em;
	font-size: 1.8em;
}
/* END GENERAL STYLES */

/* Start Nav Bar */
.navBar{
	position: fixed;
	height: 2.5em;
	width: 100%;
	padding: 0.5%;
	background-color: #EFEFEF;
	z-index: 150;
}
.hamburger{
	display: none;
	float: right;
	width: 20%;
}
.hamburger img{
	cursor: pointer;
	width: 3em;
	height: 2.4227em;
	display: block;
	margin: auto;
	margin-top: 1.125em;
}
.logo{
	float: left;
	height: 100%;
	float: right;
}
.logo img{
	height: 100%;
}
.login{
	background-color: red;
	width: 10%;
	height: 10%;
}
.nav{
	float: left;
	width: 32em;
	height: 100%;
}
.nav li{
	float: left;
	width: 33.3333%;
	text-align: center;
	height: 100%;
	padding-top: 0.5em;
}
.nav a{
	color: #616161;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 1;
}
/* End Nav Bar */

/* Begin Responsive Mobile */
@media only screen and (max-width: 855px) {
	.subheading{
		margin-left: 0;
		margin-bottom: 1em;
		margin-bottom: 0.5em;
	}
	.nav{
		width: 80%;
	}
}
/* End Responsive Mobile */

/* Start Responsive Mobile Menu */
@media only screen and (max-width: 580px) {
	/* Not responsive menu but important for containers */
		.container{
		width: 90%;
	}
		.heading{
		margin-left: 0;
	}
		.nav{
		background-color: #EFEFEF;
		padding: 1%;
		width: 100%;
	}
		.logo{
		width: 60%;
		height: 5em;
		margin: auto;
		background: url(../img/fullLogo.png);
		background-size: contain;
		background-position: left;
		background-repeat: no-repeat;
		margin: 0 10%;
	}
		.hamburger{
		display: block;
	}
		.heroContainer>img{
		display: none;
	}
		.logo img{
		display: none;
	}
		.navBar{
		height: fit-content;
	}
		.nav li{
		width: 100%;
		display: none;
	}
		.nav a{
		padding: 1em 0;
		width: 100%;
		display: block;
	}
}
/* End Responsive Mobile Menu */
